<!DOCTYPE html>
<html>
<head>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />

	<title>Central do Coco | Home</title>
</head>
<body>
	<!-- style="border:1px solid red" -->
	<div class="uk-position-relative" >
		
		<div class="uk-position-top">
			<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
				<div class="uk-navbar-left">
					<ul class="uk-navbar-nav">
						
						<li class="uk-active uk-text-bold"><a href="#">Quem somos</a></li>
						<li class="uk-active uk-text-bold"><a href="#">Localização</a></li>

						
					</ul>
				</div>
			</nav>
		</div>
	</div>

	

	<!-- <img src="../images/centralCocoLogoProvisoria.jpeg" alt=""> -->



	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>

</body>
</html>